body {
  /*background-color: #474e5d*/;
  font-family: Consolas, sans-serif;
}

#personal-data {
    position: relative;
    left: 26%;
}

#main {
}

#sidejobs {
}

#qualifications {
}

.time {
    float: left;
}

.data-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.data-field {
     position: absolute;
     left: 12%;
}

.line {
  border-left: 3px solid #b5051e;
  height: fit-content;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
}

.station {
    overflow: hidden;
    margin-top: 30px;
}

.station-heading {
    margin-left: 10px;
    width:500px;
}

.experiences {
    margin-top: 10px;
    display:block;
    word-wrap:break-word;
    font-size: 14px;
}

.exp-headline {
    font-weight: bold;
}

.mt-50 {
    margin-top: 50px;
}

.sub {
    width: 150px;
}